/crawler/outputs
/crawler/.env
/backend/.env
/backend/__pycache__/
/backend/app/__pycache__/
/backend/app/models/__pycache__/
/backend/app/api/__pycache__/
/crawler/__pycache__/
/crawler/venv/
/crawler/src/__pycache__/
/crawler/src/collectors/__pycache__/
/crawler/src/parsers/__pycache__/
/crawler/src/utils/__pycache__/
/crawler/src/utils/__pycache__
/crawler/src/tools/__pycache__/
/crawler/src/db/__pycache__/
